<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>

<h:form>
    <p:messages id="messages" closable="true" showDetail="true"/>
    <p:commandButton action="#{admin.updateSchedule}" update="@form" value="Обновить расписание" icon="ui-icon-refresh"/>
</h:form>

</html>