<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

<h:form>
    <p:dataTable id="list_group" var="aud" value="#{auditory.list}" paginator="true" rows="20" paginatorPosition="bottom">
        <p:column headerText="Идентификатор">

            <h:outputText value="#{aud.id}"/>
        </p:column>

        <p:column headerText="Название">
            <h:outputText value="#{aud.name}"/>
        </p:column>
    </p:dataTable>
</h:form>
</html>