<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Группа</title>
    <style type="text/css">
        .ui-widget {
            font-size: 90%;
        }
    </style>
</h:head>

<h:body>
    <i id="customheader" class="fa fa-fw fa-car" style="display:none"></i>
    <h:form>
        <p:messages/>
        <h:panelGrid columns="3">
            <p:outputLabel for="name" value="Группа"/>:
            <h:outputText value="#{mains.edit.group.name}" id="name"/>
        </h:panelGrid>
        <h:panelGrid columns="3">
            <p:outputLabel for="techer" value="Перподаватель"/>:
            <h:outputText value="#{mains.edit.teacher.name}" id="techer"/>
        </h:panelGrid>
        <h:panelGrid columns="3">
            <p:outputLabel for="raw" value="Сырые данные"/>:
            <h:outputText value="#{mains.edit.message}" id="raw"/>
        </h:panelGrid>
        <p:commandButton value="Отменить" actionListener="#{mains.cancel}" immediate="true"/>
    </h:form>
</h:body>

</html>