<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Группа</title>
    <style type="text/css">
        .ui-widget {
            font-size: 90%;
        }
    </style>
</h:head>

<h:body>
    <i id="customheader" class="fa fa-fw fa-car" style="display:none"></i>
    <h:form>
        <p:focus context="username"/>

        <p:messages/>

        <h:panelGrid columns="3">
            <p:outputLabel for="username" value="Название"/>
            <p:inputText id="username" value="#{groups.group.name}" required="true" label="Firstname">
                <f:validateLength minimum="2"/>
            </p:inputText>
            <p:message for="username"/>
        </h:panelGrid>
        <p:commandButton id="submitButton" value="Сохранить" update="@parent" actionListener="#{groups.save}"/>
        <p:commandButton value="Отменить" actionListener="#{groups.cancel}" immediate="true"/>
    </h:form>
</h:body>

</html>