<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>Группа</title>
    <style type="text/css">
        .ui-widget {
            font-size: 90%;
        }
    </style>
</h:head>

<h:body>
    <i id="customheader" class="fa fa-fw fa-car" style="display:none"></i>
    <h:form>
        <p:focus context="name"/>
        <p:messages/>
        <h:panelGrid columns="3">
            <p:outputLabel for="name" value="Фамилия"/>
            <p:inputText id="name" value="#{teachers.teacher.name}" required="true" label="name">
                <f:validateLength minimum="2"/>
                <f:validateRequired/>
            </p:inputText>
            <p:message for="name"/>
        </h:panelGrid>
        <p:commandButton value="Сохранить" update="@parent" action="#{teachers.save}"/>
        <p:commandButton value="Отменить" actionListener="#{teachers.cancel}" immediate="true"/>
    </h:form>
</h:body>

</html>