<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<h:form>
    <p:dataTable id="list_group" var="group" value="#{groups.list}" paginator="true" rows="20" paginatorPosition="bottom">
        <p:column headerText="Идентификатор">
            <p:commandLink action="#{groups.edit(group.id)}" value="#{group.id}"/>
        </p:column>

        <p:column headerText="Название">
            <h:outputText value="#{group.name}"/>
        </p:column>
    </p:dataTable>
</h:form>
</html>