<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<h:form>
    <p:dataTable id="list_group" var="main" value="#{mains.list}" paginator="true" rows="20" paginatorPosition="bottom" resizableColumns="true" style="margin-bottom:20px">
        <p:column headerText="Id" style="width: 10%">
            <p:commandLink update="" action="#{mains.loadEntity(main.id)}" value="#{main.id}"/>
        </p:column>

        <p:column headerText="Группа" style="width: 25%">
            <h:outputText value="#{main.group.name}"/>
        </p:column>

        <p:column headerText="Преподователь" style="width: 25%">
            <h:outputText value="#{main.teacher.name}"/>
        </p:column>

        <p:column headerText="Аудитория" style="width: 20%">
            <h:outputText value="#{main.auditory.name}"/>
        </p:column>
        <p:column headerText="Передмет" style="width: 20%">
            <h:outputText value="#{main.subject.name}"/>
        </p:column>

        <p:column headerText="Статус" style="width: 20%">
            <h:outputText value="#{main.status}"/>
        </p:column>
    </p:dataTable>
</h:form>
</html>