<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
<h:form>
    <p:dataTable var="teacher" value="#{teachers.list}" paginator="true" rows="20" paginatorPosition="bottom">
        <p:column headerText="Идентификатор">
            <p:commandLink value="#{teacher.id}" action="#{teachers.edit(teacher.id)}"/>
        </p:column>

        <p:column headerText="Название">
            <h:outputText value="#{teacher.name}"/>
        </p:column>
    </p:dataTable>
    <p:commandButton action="#{teachers.addTeacher}" value="Добавить"/>
</h:form>
</html>