<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>

<h:head>
    <title>
        <ui:insert name="title"/> - title
    </title>
    <h:outputStylesheet name="common.css" library="main"/>
    <h:outputScript name="common.js" library="main"/>
</h:head>

<h:body>
    <p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
    <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
        <p:graphicImage library="main" name="progress_bar.gif" />
    </p:dialog>

    <p:layout fullPage="true">
        <p:layoutUnit position="north" size="50" resizable="true" closable="true" collapsible="true">
            <ui:insert name="header">
                <ui:include src="/template/header.xhtml"/>
            </ui:insert>
        </p:layoutUnit>
        <p:layoutUnit position="west" size="250" header="Меню" resizable="true" collapsible="true">
            <ui:insert name="footer">
                <ui:include src="/template/navigation.xhtml"/>
            </ui:insert>
        </p:layoutUnit>
        <p:layoutUnit position="south" size="50"  resizable="true" closable="true" collapsible="true">
            <ui:insert name="footer">
                <ui:include src="/template/footer.xhtml"/>
            </ui:insert>
        </p:layoutUnit>
        <p:layoutUnit position="center">
            <ui:insert name="main-content"/>
        </p:layoutUnit>
    </p:layout>
</h:body>
</html>