<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
>

<h:form>
    <p:accordionPanel>
        <!--p:tab title="Кафедры">
            <h:panelGrid columns="2" cellpadding="10">
                <p:tree value="#{treeBasicView.root}" var="node" style="width:100%;height:100%;border-width:0;">
                    <p:treeNode>
                        <h:outputText value="#{node}"/>
                    </p:treeNode>
                </p:tree>
            </h:panelGrid>
        </p:tab-->
        <p:tab title="Справочники">
            <ul>
                <li><p:commandLink update="main" value="Группы" action="#{navigation.navigate}">
                    <f:param name="page" value="groups"/>
                </p:commandLink></li>
                <li><p:commandLink update="main" value="Преподователи" action="#{navigation.navigate}">
                    <f:param name="page" value="teachers"/>
                </p:commandLink></li>
                <li><p:commandLink update="main" value="Аудитории" action="#{navigation.navigate}">
                    <f:param name="page" value="auditories"/>
                </p:commandLink></li>
                <li><p:commandLink update="main" value="Расписание " action="#{navigation.navigate}">
                    <f:param name="page" value="mains"/>
                </p:commandLink></li>
            </ul>
        </p:tab>
        <p:tab title="Администрирование">
            <ul>
                <li><p:commandLink update="main" value="Обновить расписание" action="#{navigation.navigate}">
                    <f:param name="page" value="admin"/>
                </p:commandLink></li>
            </ul>
        </p:tab>
    </p:accordionPanel>
</h:form>
</html>