<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>
	<f:metadata>
		<f:viewParam name="page" value="#{navigation.page}" required="false"/>
	</f:metadata>
	<ui:composition template="/template/main.xhtml">
		<!--@elvariable id="messages" type="java.util.ResourceBundle"-->
		<ui:define name="title">
			Привет
		</ui:define>
		<ui:define name="main-content">
			<h:panelGroup id="main">
				<ui:include src="/page/${navigation.page}.xhtml"/>
			</h:panelGroup>
		</ui:define>
	</ui:composition>
</h:body>
</html>
